:root {
  --app-max-width: 1250px;
  --card-corner-height: 28px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-board {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 500px;
  height: 500px;
  text-align: center;
  gap: 20px;
  background-color: black;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  cursor: pointer;
  background-color: white;
}
